.faceTop
{
    transform: translateZ(6px)
}

.containerScreen
{
    transform: translateZ(10px)
}

.crossContainer
{
    transform: translateZ(15px)
}

.firstLine
{
    transform: translateZ(9px)
}

.secondLine
{
    transform: translateZ(9px)
}

.button
{
    transform: translateZ(9px)
}

.dash
{
    transform: translateZ(9px)
}

